<!-- Footer -->
<footer class="w3-black w3-padding-16 w3-padding-large">
    <div class="w3-col w3-center"><img src="./images/Logo2.png" alt="" width="180px">
    </div>
    <p>Powered by Team 4</p>
</footer>

</body>
</html>
