<nav class="navbar_top" style="background: #0367a6;">
    <div class="logo">School</div>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="bar_icon">&#9776;</label>
        <div class="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/users">Sign up</a></li>
            <li><a href="#about">About</a></li>
        </div>
    </ul>
</nav>