<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/links.ejs') %>
	<link rel="stylesheet" href="style2.css">
    <title>Courses</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="our-faculty" id="courses">
        <div class="overlay">
            <div class="container">
                <div class="row text-center row_width">
                    <div class="p_width">
                        <h1 class="hadding_pt"><span class="hadding_bt">Courses List </span></h1>
                    </div><br><br>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img src="https://th.bing.com/th/id/R.97d20fbfdf99f6ae99229a9646803d56?rik=VhUjDKMhj2%2bULw&pid=ImgRaw&r=0" class="img-rounded img_border_double" width="50%" alt=""/>
                    <h3>HTML</h3>
                    <hr class="hr_5" />
                    <h4>
                        Course ID: 1  <br />
                        Course Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut suscipit doloribus quasi expedita enim tempore, at cumque dignissimos explicabo reiciendis autem, animi necessitatibus nobis nemo facilis. Enim, dolorem repudiandae.<br/>
                    </h4>
                </div>
                     
                    </div>

                </div>
            </div>
    </div>
    
</body>
</html>