<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans Lepcha">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Course Details</title>
</head>
<body>
    <div class="our-faculty" id="courses">
        <div class="overlay">
            <div class="container">
                <div class="row text-center row_width">
                    <div class="p_width">
                        <h1 class="hadding_pt"><span class="hadding_bt">Course Name </span></h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img src="https://i.postimg.cc/pX1p04Jj/R-1.jpg" class="img-rounded img_border_double" width="100%" alt=""/>
                    </div>
                    <div class="col-sm-8">
                    <hr class="hr_5" />
                    <h4 style="text-align: left;">
                        Course ID: 1  <br />
                        Course Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut suscipit doloribus quasi expedita enim tempore, at cumque dignissimos explicabo reiciendis autem, animi necessitatibus nobis nemo facilis. Enim, dolorem repudiandae.<br/>
                    </h4>
                </div>
                     
                    </div>

                </div>
            </div>
    </div>
    
</body>
</html>