<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/links.ejs') %>
    <link rel="stylesheet" href="style2.css">
    <title>My Courses</title>
    
</head>
<body>
    <div class="our-faculty" id="courses">
        <div class="overlay">
            <form action="/" method="get" class="p-2">
                <input type="submit" value="Log Out" class="btn btn-light">
            </form>
            <div class="container">
                <div class="row text-center row_width">
                    <div class="p_width">
                        <h1 class="hadding_pt"><span class="hadding_bt">My Courses List </span></h1>
                    </div><br><br>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img src="https://th.bing.com/th/id/R.97d20fbfdf99f6ae99229a9646803d56?rik=VhUjDKMhj2%2bULw&pid=ImgRaw&r=0" class="img-rounded img_border_double" width="50%" alt=""/>
                    <h3>HTML</h3>
                    <hr class="hr_5" />
                    <h4>
                        Course ID: 1  <br />
                        Course Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut suscipit doloribus quasi expedita enim tempore, at cumque dignissimos explicabo reiciendis autem, animi necessitatibus nobis nemo facilis. Enim, dolorem repudiandae.<br/>
                    </h4>
                </div>
                     
                    </div>

                </div>
            </div>
    </div>
    
    <div>
        <div>
            <div class="container">
                <div class="row text-center row_width">
                    <div class="p_width">
                        <h1 class="hadding_pt"><span class="hadding_bt">All Courses List </span></h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img src="" class="img-rounded img_border_double" width="50%" alt=""/>
                    <h3>HTML</h3>
                    <hr class="hr_5" />
                    <h4>
                        <span style="color:#0367a6;"> Course ID:</span> 1  <br />
                        <span style="color:#0367a6;">Course Description:</span> Lorem ipsum dolor sit amet consectetur ....<br/>
                        <a href="/courses/"></a>
                    </h4>
                </div>                     
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>

</body>
</html>