<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/links.ejs') %>
		<link rel="stylesheet" href="style1.css">
		<title>Sign in</title>
</head>

<body>
	<div class="btn"><a href="/" style="color: #fff;">Home</a></div>
	<div class="container right-panel-active" style="height:500px;">
		<!-- Sign Up -->
		<div class="container__form container--signup">
			<form class="form" id="form1" method="post">
				<h2 class="form__title">Sign Up</h2>
				<input type="text" placeholder="name" class="input" name="name" required />
				<input type="text" placeholder="Email" class="input" name="email" required />
				<input type="password" placeholder="Password" class="input" name="password" required />
				<button class="btn">Sign Up</button>
			</form>
		</div>

		<!-- Sign In -->
		<div class="container__form container--signin">
			<form action="/users/" class="form" id="form2" method="get">
				<h2 class="form__title">Sign In</h2>
				<input type="text" placeholder="Email" class="input" name="email" required />
				<input type="password" placeholder="Password" class="input" name="password" required />
				<button class="btn">Sign In</button>
			</form>
		</div>

		<!-- Overlay -->
		<div class="container__overlay">
			<div class="overlay">
				<div class="overlay__panel overlay--left">
					<button class="btn" id="signIn">Sign In</button>
					<br>
					<button class="btn"><a href="/admins" style="color: #fff;"> Sign Up As Admin</a></button>
				</div>
				<div class="overlay__panel overlay--right">
					<button class="btn" id="signUp">Sign Up</button>
					<br>
					<button class="btn"> <a href="/admins" style="color: #fff;"> Sign Up As Admin</a></button>
				</div>
			</div>
		</div>
	</div>

	<script>
		const signInBtn = document.getElementById("signIn");
		const signUpBtn = document.getElementById("signUp");
		const fistForm = document.getElementById("form1");
		const secondForm = document.getElementById("form2");
		const container = document.querySelector(".container");

		signInBtn.addEventListener("click", () => {
			container.classList.remove("right-panel-active");
		});

		signUpBtn.addEventListener("click", () => {
			container.classList.add("right-panel-active");
		});

		const form = document.getElementById("form1");
		function sign_up_user(eve) {
			eve.preventDefault();
			const user_info = new FormData(form);
			fetch("/users/", {
				method: "POST",
				body: user_info
			}).then(data => {
				console.log(data);
			})
		}

		form.addEventListener("submit", sign_up_user);
	</script>
</body>

</html>